extends layout

block errormessage
  div(class='alert alert-warning alert-dismissible', role='alert')
    button.close(type='button', aria-label='Close', ng-click='clearMessage()')
      span(aria-hidden='true')
        | &times;
    strong
      | Warning:
      h1= message
      h2= error.status
      pre #{error.stack}
